{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-1">
  <h2 class=" mt-3">Orders</h2>
  {% if order %}
  <table class="table table-bordered table-hover mt-4 align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>Order ID</th>
        <th>User</th>
        <th>Amount</th>
        <th>razorpay_order_id </th>
        <th>Status</th>
        <th>Created_at</th>
      </tr>
    </thead>
    <tbody>
      {% for t in order %}
      <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.user }}</td>
        <td>Rs {{ t.total_amount }}</td>
        <td>{{t.razorpay_order_id}}</td>
        <td>{{t.payment_status}}</td>
        <td>{{t.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="mt-4">No order Yet .</p>
  {% endif %}
</div>
{% endblock content %}